@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #072540;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 50px;
}

.container {
    position: relative;
    width: calc(100% - 100px);
    min-height: calc(100vh - 280px);
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

header {
    position: absolute;
    top: -40px;
    right: 20px;
    left: 20px;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

header .logo {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
}

header ul {
    display: flex;
}

header ul li {
    list-style: none;
    margin: 0 10px;
}

header ul li a {
    text-decoration: none;
    font-weight: 500;
    color: #072540;
    padding: 8px 15px;
    border-radius: 25px;
}

header ul li a:hover, header ul li a.active {
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.content {
    transform: translateX(100px);
    max-width: 700px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding: 40px;
    padding-right: 110px;
}

.content h2 {
    font-size: 2em;
    color: #fff;
}

.content p {
    font-size: 1.2em;
    color: #fff;
}

.content a {
    display: inline-block;
    padding: 15px 30px;
    background: #fff;
    color: #8a2435;
    margin-top: 20px;
    border-radius: 30px;
    font-size: 1.2em;
    font-weight: 500;
    text-decoration: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.imgBx img {
    max-width: 400px;
    animation: animate 0s linear infinite;
}

@keyframes animate {
    0%, 100% {
        transform: translateY(50px);
    }
    50% {
        transform: translateY(100%);
    }
}

.action {
    position: fixed;
    bottom: 50px;
    left: 50px;
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.action span {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a13dea;
    font-size: 2em;
    transition: 0.3s ease-in-out;
}

.action.active span {
    transform: rotate(135deg);
}

.action ul {
    position: absolute;
    bottom: 55px;
    background: #fff;
    min-width: 250px;
    padding: 20px;
    border-radius: 20px;
    bottom: 65px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.action.active ul {
    bottom: 65px;
    opacity: 1;
    visibility: visible;
    transition: 0.3s;
}

.action.active ul li {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;
    transition: 0.3s;
}

.action ul li a:hover {
    font-weight: 600;
    text-decoration: none;
    color: #222;
}

.action ul li:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.action ul li img {
    margin-right: 10px;
    opacity: 0.2;
    transform: scale(0.8);
}

.action ul li:hover img {
    opacity: 0.8;
}

footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #000;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .containerFooter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

footer .containerFooter .sec {
    margin-right: 30px;
}

footer .containerFooter .sec.aboutus {
    width: 40%;
}

footer .containerFooter h2 {
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}

footer .containerFooter h2:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #F50057;
}

footer p {
    color: #999;
}

.sciFooter {
    margin-top: 20px;
    display: flex;
}

.sciFooter li {
    list-style: none;
}

.sciFooter li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4px;
    text-decoration: none;
    border-radius: 4px;
}

.sciFooter li a:hover {
    background: #F50057;
}

.sciFooter li a .fa {
    color: #fff;
    font-size: 20px;
}

.quickLinks {
    position: relative;
    width: 25%;
}

.quickLinks ul li {
    list-style: none;
}

.quickLinks ul li a {
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.quickLinks ul li a:hover {
    color: #fff;
}

.contactFooter {
    width: calc(35% - 60px);
    margin-right: 0 !important;
}

.containerFooter .infoFooter {
    position: relative;
}

.contactFooter .infoFooter li span:nth-child(1) {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

.contactFooter .infoFooter li span {
    color: #999;
}

.contactFooter .infoFooter li a {
    color: #999;
    text-decoration: none;
}

.contactFooter .infoFooter li a:hover {
    color: #fff;
}

@media (max-width: 1200px) {
    .container {
        position: relative;
        width: calc(100% - 20px);
    }
}

@media (max-width:992px) {
    section {
        padding: 50px 10px 10px;
    }
    .container {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }
    .container .content {
        transform: translateX(0px);
        max-width: 100%;
        padding: 30px;
        margin-top: -40px;
    }
    header {
        position: relative;
        flex-direction: column;
        width: 100%;
        top: -60px;
        padding: 20px;
        right: 0;
        left: 0;
    }
    header ul {
        margin-top: 10px;
        flex-wrap: wrap;
    }
    header ul li {
        margin: 2px;
    }
    header ul li a {
        display: inline-block;
    }
    .imgBx {
        margin-bottom: 50px;
    }
    .content a {
        font-size: 1em;
        padding: 10px 20px;
    }
    footer {
        padding: 40px;
    }
    footer .containerFooter {
        flex-direction: column;
    }
    footer .containerFooter .sec {
        margin-right: 0;
        margin-bottom: 40px;
    }
    footer .containerFooter .sec.aboutus, .quickLinks, .contactFooter {
        width: 100%;
    }
    @keyframes animate {
        0%, 100% {
            transform: translateY(-20px);
        }
        50% {
            transform: translateY(20px);
        }
    }
    .sci {
        position: relative;
        flex-direction: row;
        left: 0;
    }
    .sci li a {
        margin: 0 10px;
    }
    .copyrightText {
        position: relative;
        bottom: initial;
        left: inherit;
        width: 100%;
        color: #8a2435;
        text-align: center;
        margin-top: 20px;
    }
}

@media (max-width: 600px) {
    header .logo {
        font-size: 1em;
    }
    .content h2 {
        font-size: 1.5em;
        color: #fff;
    }
    .content p {
        font-size: 1em;
        color: #fff;
    }
    .imgBx img {
        max-width: 300px;
    }
    footer {
        padding: 40px;
    }
    footer .containerFooter {
        flex-direction: column;
    }
    footer .containerFooter .sec {
        margin-right: 0;
        margin-bottom: 40px;
    }
    footer .containerFooter .sec.aboutus, .quickLinks, .contactFooter {
        width: 100%;
    }
}